<% if logged_in? %>

  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>

<% end %>


<script id="bootstrap-cat" type="text/javascript">

  window.allCategories = <%= render("api/categories/bootcat.json.jbuilder",
    categories: fetch_cat).html_safe %>

</script>

<main id='root' class="body-content">root.html.erb - there's an error with react</main>

<!-- 

  this is the root page that the routes direct you to 

  the first script uses a method from the user controller, checks if there is a current user and returns that user. Then within a script it declares a window.currentuser and sets its value to a json object which is received via a views jbuilder file, passing in 
  the current user 

  the second script does essentially the same, but it creates a window.allCategories object which it does via another jbuilder view file. 

 -->