.order-form-inner {
    display: flex;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.order-payment-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    .form-logo-container {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }


    .order-shipping-information {
        text-align: left;
        border: 1px solid lightgrey;
        padding:  15px 20px 15px 20px;
        border-radius: 3px;
        color: darkgrey;
        margin-bottom: 20px;

        .shipping-info-inner {
            width: 95%;  
     
            
            .shipping-info span {
                margin-left: 5%;
                font-size: 1em; 
                color: black;
            }

            #shipping-price {
                font-weight: bolder;
            }

            .shipping-info div {
                display: inline-block;
                min-width: 75px;
            }

            #shipping-email {
                margin-left: auto;
                margin-right: auto;
                border-bottom: 1px solid lightgrey;
                padding-bottom: 2%;
                margin-bottom: 2%;
            }

            #shipping-address {
                overflow: visible;
                margin-left: 5%;
                color: black;
            }

            #shipping-option {
                margin-left: auto;
                margin-right: auto;
                border-bottom: 1px solid lightgrey;
                padding-bottom: 2%;
                margin-bottom: 2%;
            }

        }
    }

    #payment-title {
        font-weight: lighter;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    #payment-message {
        font-size: 1em;
        font-weight: lighter;
    }

    .payment-messages {
        text-align: left;
    }
    .credit-card-container {
        border: 1px solid lightgrey;
        border-radius: 3px;
        margin-top: 20px;
    }

    .credit-card-header {
        border-bottom: 1px solid lightgrey;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        span {
            padding-top: 7px;
            margin-left: 20px;
            
        }

        .card-icons {
            list-style: none;
            display: flex;
            

            span {
                margin-left: 4px;
                margin-right: 20px;
                color: lightgrey
            }

            li {
                padding-left: 3px;
            }

            #visa {
                color: blue;
            }

            #mastercard {
                color: orange
            }

            #americanexpress {
                color: blue
            }

            #discover {
                color: orange;
            }
        }
    }
    
    .card-info {
        background-color: whitesmoke;
        padding-bottom: 20px;


        .card-number {
            width: 90%; 
            margin-left: auto;
            margin-right: auto;


            input, 
            label {
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
            }

            label {
                display: inline-block;
                margin: 0 auto;
                padding: 0 0 5px 0;
                top: 40px; 
                left: 5px;
                z-index: 1;
                transition: all 0.5s ease-in-out;
            }
        
            input[type="text"] {
                font-size: 1em;
                padding: 12px 0 12px 0;
                z-index: 10;
                background: transparent;
                text-indent: 5px;
                border-radius: 3px;
            }
        
            .filled_label {
                top: 18px; 
                font-size: 0.7em;
                min-width: 90%;
            }
        }

        .card-name {
            width: 90%; 
            margin-left: auto;
            margin-right: auto;


            input, 
            label {
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
            }

            label {
                display: inline-block;
                margin: 0 auto;
                padding: 0 0 5px 0;
                top: 40px; 
                left: 5px;
                z-index: 1;
                transition: all 0.5s ease-in-out;
            }
        
            input[type="text"] {
                font-size: 1em;
                padding: 12px 0 12px 0;
                z-index: 10;
                background: transparent;
                text-indent: 5px;
                border-radius: 3px;
            }
        
            .filled_label {
                top: 18px; 
                font-size: 0.7em;
                min-width: 90%;
            }
        }

        .card-date-code {
            display: flex;
            justify-content: space-between;
            width: 90%; 
            margin-left: auto;
            margin-right: auto;

            .card-exp-date {
                width: 45%; 
 
                input, 
                label {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                label {
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0 0 5px 0;
                    top: 40px; 
                    left: 5px;
                    z-index: 1;
                    transition: all 0.5s ease-in-out;
                }
            
                input[type="text"] {
                    font-size: 1em;
                    padding: 12px 0 12px 0;
                    z-index: 10;
                    background: transparent;
                    text-indent: 5px;
                    border-radius: 3px;
                }
            
                .filled_label {
                    top: 18px; 
                    font-size: 0.7em;
                    min-width: 90%;
                }
            }

            .card-security-code {
                width: 45%; 
     
                input, 
                label {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                label {
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0 0 5px 0;
                    top: 40px; 
                    left: 5px;
                    z-index: 1;
                    transition: all 0.5s ease-in-out;
                }
            
                input[type="text"] {
                    font-size: 1em;
                    padding: 12px 0 12px 0;
                    z-index: 10;
                    background: transparent;
                    text-indent: 5px;
                    border-radius: 3px;
                }
            
                .filled_label {
                    top: 18px; 
                    font-size: 0.7em;
                    min-width: 90%;
                }
            }
        }


    }

    .order-billing-address {
        margin-top: 20px;
        text-align: left;

        #billing-title {
            font-weight: lighter;
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        #billing-address-container {
            border: 1px solid lightgray;
            border-radius: 3px;
            padding: 15px 10px 15px 10px;
            margin-top: 20px;
            margin-bottom: 20px;

            span {
                margin-left: 3px;
            }
        }

    }

    #submit-order {
        font-size: 24px;
        color: white;
        background-color: black;
        font-size: 1em;
        padding: 1.4em 1.7em 1.4em 1.7em; 
        border-radius: 3px;
        transition: all .75s ease-in-out;
    }

    #submit-order:hover {
        background-color: white;
        color: black;
    }


    .empty-cart {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h1 {
            font-weight: bolder;
            font-size: 1.5em;
            margin-bottom: 30px;
        }

        button {
            font-size: 24px;
            color: white;
            background-color: black;
            font-size: 1em;
            padding: 1.4em 1.7em 1.4em 1.7em; 
            border-radius: 3px;
            transition: all .75s ease-in-out;
        }

        button:hover {
            background-color: white;
            color: black;
            box-shadow: 10px 5px 5px black;
        }
    }

}
