// order_contact.jsx
.order-form-container {

    .order-top-container {
        display: flex;
        min-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        // padding-bottom: 25%;
    }

    * {
        font-family: 'Noto Sans', sans-serif;
    }

    .contact-error {
        color: red;
    }

    .order-contact-container {
        text-align: left;
        height: 100%;
        // border: 1px solid blue;
    }
    
    .order-user-profile {
        margin-top: 3%;
        display: flex;

        div {
            padding-top: 15px;
            padding-left: 10px;
            // position: relative;
            // padding-bottom: 20px;
        }
    }

    // order_contact.jsx
    .order-form {
        min-width: 50%;
        text-align: center;
    

        .order-form-logo {
            font-size: 24px;
            text-decoration: none;
            color: black;
        }

        .order-contact-container {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;


            // form {

                .order-name {
                    display: flex;
                    justify-content: space-between;

                    .field-first-name {
                        width: 100%;  // keeps the input from changing sizes when typing 
                        text-align: left;

                        input {
                            position: relative;
                            display: inline-block;
                            width: 95%;
                            padding: 12px 0 12px 0;
                            z-index: 10;
                            background: transparent;
                            font-size: 1em;
                            text-indent: 5px;
                            border-radius: 3px;
                        }
                    }

                    .field-last-name {
                        width: 100%;

                        .last-name-container {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            width: 100%;

                            .last-name-align {
                                text-align: left;
                                width: 95%;

                                input {
                                    position: relative;
                                    display: inline-block;
                                    width: 100%;
                                    padding: 12px 0 12px 0;
                                    z-index: 10;
                                    background: transparent;
                                    font-size: 1em;
                                    text-indent: 5px;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }

                    label {
                        position: relative;
                        display: inline-block;
                        top: 30px;
                        left: 5px;
                        z-index: 1;
                        transition: all 0.5s ease-in-out;
                    }

        
                    .filled_label {
                        top: 18px; 
                        font-size: 0.7em;
                    }

                    // .order-name-container {
                        // border: 2px solid red;
                        // // display: flex;
                        // // justify-content: space-between;
                        
                        // input, 
                        // label {
                        //     position: relative;
                        //     display: inline-block;
                        //     width: 97%;
                        //     text-align: left;
                        // }
                    
                        // label {
                        //     display: inline-block;
                        //     margin: 0 auto;
                        //     padding: 0 0 5px 0;
                        //     // top: 40px; 
                        //     z-index: 1;
                        //     transition: all 0.5s ease-in-out;
                        // }
                    
                        // input[type="text"] {
                        //     display: block;
                        //     font-size: 1em;
                        //     padding: 10px 0 10px 0;
                        //     margin-bottom: 0.5em;
                        //     z-index: 10;
                        //     background: transparent;
                        // }
                    
                        // .filled_label {
                        //     top: 18px; 
                        //     font-size: 0.7em;
                        //     min-width: 90%;
                        // }
                    // }
                }

                .order-address-one {
                    // border: 2px solid blue;
                    text-align: left;
                    input, 
                    label {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    label {
                        display: inline-block;
                        margin: 0 auto;
                        padding: 0 0 5px 0;
                        top: 40px; 
                        left: 5px;
                        z-index: 1;
                        transition: all 0.5s ease-in-out;
                    }
                
                    input[type="text"] {
                        font-size: 1em;
                        padding: 12px 0 12px 0;
                        // margin-bottom: 0.5em;
                        z-index: 10;
                        background: transparent;
                        text-indent: 5px;
                        border-radius: 3px;
                    }
                
                    .filled_label {
                        top: 18px; 
                        font-size: 0.7em;
                        min-width: 90%;
                    }

                }

                .order-address-two {

                    input, 
                    label {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    label {
                        display: inline-block;
                        margin: 0 auto;
                        padding: 0 0 5px 0;
                        top: 40px; 
                        left: 5px;
                        z-index: 1;
                        transition: all 0.5s ease-in-out;
                    }
                
                    input[type="text"] {
                        font-size: 1em;
                        padding: 12px 0 12px 0;
                        // margin-bottom: 0.5em;
                        z-index: 10;
                        background: transparent;
                        text-indent: 5px;
                        border-radius: 3px;
                    }
                
                    .filled_label {
                        top: 18px; 
                        font-size: 0.7em;
                        min-width: 90%;
                    }

                }

                .order-city {
                    text-align: left;

                    input, 
                    label {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    label {
                        display: inline-block;
                        margin: 0 auto;
                        padding: 0 0 5px 0;
                        top: 40px; 
                        left: 5px;
                        z-index: 1;
                        transition: all 0.5s ease-in-out;
                    }
                
                    input[type="text"] {
                        font-size: 1em;
                        padding: 12px 0 12px 0;
                        // margin-bottom: 0.5em;
                        z-index: 10;
                        background: transparent;
                        text-indent: 5px;
                        border-radius: 3px;
                    }
                
                    .filled_label {
                        top: 18px; 
                        font-size: 0.7em;
                        min-width: 90%;
                    }

                }

                .order-phone {
                    text-align: left;
                    
                    input, 
                    label {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    label {
                        display: inline-block;
                        margin: 0 auto;
                        padding: 0 0 5px 0;
                        top: 40px; 
                        left: 5px;
                        z-index: 1;
                        transition: all 0.5s ease-in-out;
                    }
                
                    input[type="text"] {
                        font-size: 1em;
                        padding: 12px 0 12px 0;
                        // margin-bottom: 0.5em;
                        z-index: 10;
                        background: transparent;
                        text-indent: 5px;
                        border-radius: 3px;
                    }
                
                    .filled_label {
                        top: 18px; 
                        font-size: 0.7em;
                        min-width: 90%;
                    }

                }

                .order-country-state-zipcode {
                    // width: 97%;
                    // margin-left: auto;
                    // margin-right: auto;
                    display: flex;
                    justify-content: space-between;

                    .order-country {
                        width: 30%;
                        text-align: left;
                        // border: 1px solid green;
                        // background-color: green;
                        // width: 33%;

                        label {
                            display: block;        
                            position: relative;
                            top: 20px;
                            text-indent: 5px;
                            z-index: 1;  
                            font-size: 1em;
                        }

                        label {
                            // top: 20px;
                            // text-indent: 5px;
                            // z-index: 1;  
                            // font-size: 1em; 
                            // margin: 0 auto;
                            // padding: 0 0 5px 0;
                        }

                        select {
                            width: 100%;
                            font-size: 1em;
                            padding: 25px 0 0 0;
                            z-index: 10;
                            border-radius: 3px;
                            // background: transparent;
                            // border-style: none;
                            // text-align: left;
                            // outline: none;
                        }
                    }

                    .order-state {

                        // border: 2px solid black;
                        text-align: left;
                        width: 30%;
                 
                        label {
                            position: relative;
                            display: block;
                            top: 20px;
                            text-indent: 5px;
                            z-index: 1;  
                            font-size: 1em;
                        }

                        label {
                            // margin: 0 auto;
                            // padding: 0 0 5px 0;
                            // z-index: 1;  
                            // font-size: 1em; 
                        }

                        select {
                            width: 100%;
                            font-size: 1em;
                            padding: 25px 0 0 0;
                            z-index: 10;
                            border-radius: 3px;
                            // font-size: 1em;
                            // z-index: 10;
                            // background: transparent;
                            // width: 100%;
                            // border-style: none;
                            // text-align: left;
                            // outline: none;
                        }
                    }

                    .order-zipcode {
                        // border: 2px solid red;

                        .field {
                            text-align: left;
                        }

                        input, 
                        label {
                            position: relative;
                            display: inline-block;
                            // // width: 97%;
                            text-align: left;
                            // // margin-left: auto;
                            // // margin-right: auto;
                            // border: 1px solid yellow;
                        }
    
                        label {
                            position: relative;
                            display: inline-block;
                            top: 35px;
                            left: 5px;
                            text-align: left; 
                            z-index: 1;
                            transition: all 0.5s ease-in-out;
                            // // // margin: 0 auto;
                            // // padding: 0 0 5px 0;
                            // border: 1px solid blue;
                        }
                    
                        input[type="text"] {
                            display: block;
                            padding: 12px 0 12px 0;
                            font-size: 1em;
                            z-index: 10;
                            background: transparent;
                            text-indent: 5px;
                            border-radius: 3px;
                            // margin-bottom: 0.5em;
                            // width: 100%;
                            // height: 100%;
                        }
                    
                        .filled_label {
                            top: 18px; 
                            font-size: 0.7em;
                            right: 75px;
                        }

                    }

                }

            // }


            .order-save-contact {
                margin-top: 3%;
            }

            .order-contact-buttons {
                display: flex;
                justify-content: space-between;
                margin-top: 3%;
                
                // border: 1px solid red;

                .order-form-button {
                    // margin-top: 100px;
                    font-size: 24px;
                    color: white;
                    background-color: black;
                    font-size: 1em;
                    padding: 1.4em 1.7em 1.4em 1.7em; 
                    border-radius: 3px;
                    transition: all .75s ease-in-out;
                }

                .order-form-button:hover {
                    background-color: white;
                    color: black;
                }

                .order-cart-button {
                    display: flex;
                    flex-direction: column;


                    .order-redirect-cart {
                        // border: 1px solid blue;
                        text-decoration: none;
                        color: black;
                        vertical-align: text-bottom;
                        align-self: flex-end;
                        display: inline-block;
                        margin-top: 53px;
    
                        .cart-arrow {
                            font-weight: bold;
                        }
                    }

                }


            }



        }
    }

    
    
    // order_contact.jsx 
    .items-info {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        min-height: 100%;
        background-color: whitesmoke;
        // border-bottom: 1px solid lightgrey;
        padding-top: 80px;
        // border: 1px solid yellow;
    
    // order_item_details.jsx
        .item-details-container {
            display: flex;
            justify-content: space-between;

            min-width: 400px;
            max-width: 600px;
            max-height: 70px;
            background-color: whitesmoke;
            margin-left: 30px;
            margin-bottom: 10px;


            .item-img {
                border-radius: 10%;
                border: 1px solid grey;
            }

            .item-details {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: left;
            }

            .floating-quantity {
                position: absolute;
                background-color: grey;
                border-radius: 50%;
                padding: 5px;
                margin-left: 60px;
            }

            .price-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

        }



        .price-info {
            border-top: 1px solid lightgrey;
            min-width: 400px;
            max-width: 600px;
            margin-left: 30px;
        }

        .promo {
            min-width: 400px;
            max-width: 600px;

            input {
                border-radius: 3%;
                min-width: 450px;
                margin-right: 10px;
                min-height: 40px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            button {
                padding: 10px;
                color: white;
                background-color: lightgrey;
                border-radius: 3%;
            }
        }

        .shipping {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid lightgrey;
            margin-top: 10px;

            p {
                margin-top: 10px;
            }
        }

        .tax {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .price-details { 
            border-top: 1px solid lightgrey;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
        }
    }

    .empty-cart {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h1 {
            font-weight: bolder;
            font-size: 1.5em;
            margin-bottom: 30px;
            // box-shadow: 10px 5px 5px black;
            // width: 30%;
        }

        button {
            font-size: 24px;
            color: white;
            background-color: black;
            font-size: 1em;
            padding: 1.4em 1.7em 1.4em 1.7em; 
            border-radius: 3px;
            transition: all .75s ease-in-out;
        }

        button:hover {
            background-color: white;
            color: black;
            box-shadow: 10px 5px 5px black;
        }
    }

}