/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* reset file here  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.main-body {
	/* border: 2px solid red; */
	width: 100vw;
	height: 100vh;

	display: flex;
    min-height: 100vh;
	flex-direction: column;
}

.body-content {
	flex: 1; 
}

#main-footer {
	background-color: black;
	width: 100vw;
	padding: 133.5px 0 100.5px 0; 
	font-family: 'Noto Sans', sans-serif;
	/* margin-top: 50%; */
}

.inner-footer {
	color: white;
	width: 50%; 
	margin-left: auto;
	margin-right: auto;
	padding: 34px;
	display: flex;
	justify-content: space-evenly;
	background-color: transparent;
}

.footer-links {
	/* padding: 5px; */
	font-weight: bold;
	transition: all .75s ease-in-out;
	cursor: pointer;
}

.link-tags {
	text-decoration: none;
	color: white;
}



.footer-links:hover {
	/* background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	-webkit-background-clip: text;
	color: transparent; */
	/* color: black; */
	color: black;
	background-color: lightgrey;
	box-shadow: 0px 0px 100px 30px white;
	border-radius: 3px;
	padding: 10px
	
}


 /* @import "./component/header"; */

