
#main-header {
    display: flex; 
    justify-content: space-between;
    background-color: #000000;
    color: white; 
    // border: 1px solid white;

    padding: 0px 10px 0px 10px;
    font-family: 'Noto Sans', sans-serif;

    #main-logo {
        height: 100px;
        width: 100px;  
        // border: 1px solid red; 
    }

    #product-categories{
        
        // border: 1px solid red; 
        display: flex;
        align-items: flex-end;

        ul {
            // border: 1px solid yellow; 
            display: flex; 
            padding: 1%;
        }

        li {
            // border: 1px solid purple;
            margin-left: 10px;
        }
        
    }


    #user-tools {
        // border: 1px solid red; 
        float: right; 
        display: flex;
        align-items: flex-end;

        ul {
            // border: 1px solid yellow;
            display: flex;
        }

        li {
            margin: 0px 20px 5px 0px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }


    // dropdown 

    .dropDown {
        position: relative; 
        display: inline-block
    }

    .dropdownContent {
        display: none; 
        margin-top: 5px; 
        position: absolute; 
        border-top: 2px solid white;
        border-left: .5px solid white;
        border-right: .5px solid white;
        border-bottom: .5px solid white;
        background-color: black;
        box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
        z-index: 1;
    }

    .dropdownContent a{
        text-decoration: none; 
        display: block;
        padding: 10px 5px 5px 5px; 
        color: white;
        font-family: 'Noto Sans', sans-serif;
    }

    .dropDown:hover .dropdownContent {
        display: block;
    }
}