
#mainHeader {
    background-color: #000000;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid red;
    // color: white; 


    .header-top {
        display: flex;
        justify-content: space-between;
    }

    #headerLeft {
        display: flex; 
        justify-content: space-around;
        margin-left: 30px;
    }

    #mainLogo {

        img {
            vertical-align: middle;
        }
    }

    #product-categories{
        border: 1px solid red;
        
        margin-left: 20px; 
        display: flex;
        align-items: flex-end;
        width: 100%;
        
        ul { 
            border: 1px solid yellow;
            display: flex;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .header-category-name {
            font-size: 1.5em;
            margin-right: 50px;
            margin-bottom: 50px;
        }
        
    }

    #userTools {
        display: flex;
        align-items: flex-end;
        margin-right: 30px;
        font-size: 1.5em;

        ul {
            display: flex;
        }

        li {
            margin-left: 50px;
            margin-bottom: 50px;

            span {
                color: white;
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            color: white;

        }
    }


    // dropdown 

    .dropDown {
        position: relative; 
        display: inline-block;
        font-size: 16px;
    }



    .dropdownContent {
        display: none; // hides the bar 
        position: absolute; // sets it underneath the headerbar 
        width: 100px;
        border-top: 2px solid white;
        border-left: .5px solid white;
        border-right: .5px solid white;
        border-bottom: .5px solid white;
        background-color: black;
        box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
        z-index: 1;
        // margin-top: 5px; 
    }

    .dropdownContent a{
        text-decoration: none; 
        display: block;
        padding: 10px 5px 5px 5px; 
        color: white;
        font-family: 'Noto Sans', sans-serif;
    }

    .dropDown:hover .dropdownContent {
        display: block;
    }

    .dropdownContent a:hover {
        color: grey;
    }

    #search-bar {
        border: 1px solid blue;
        position: absolute;
        color: white;
        width: 100%;
    }
}