.order-form {
    // border: 1px solid blue;
}

.order-contact-container {
    // border: 1px solid red;
    display: flex; 
    flex-direction: column;
    // align-items: stretch;
    input {
        border-style: none;
        outline: 0;
        border: 0; 
    }
}