.product-index-container {
    // border: 2px solid yellow;
    text-align: center;

    .product-header-container {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .items-container {
        // border: 2px solid red; 
        display: flex; 
        justify-content: center;

    }

    .product-container {
        padding: 2%; 
    }
    
}




