#splash-container {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

    #product-main-img {
        width: 100%;
        // height: 50%;
    }

    #product-title {
        // border: 2px dotted yellow; 
        font-size: 100px;
        color: white; 
        font-family: 'Noto Sans', sans-serif;
        
        // used to center the h1 message 
        position: absolute; 
        margin-left: auto; 
        margin-right: auto;
        left: 0; 
        right: 0; 
        top: 60%; // figure out why 100% doesn't reach down to the bottom of the container
        bottom: 0;
        text-align: center;
        
        // add this pointer cursor
        cursor: default; 
    }


    #splash-category-container {
        display: flex;
        margin-top: 20px;
    }

    .splash-category {
        flex: 1;
        height: 700px;
        font-weight: 900;
        font-size: 48px;
    }

    #splash-category-1 {
        background: image-url('womensbomberjacket.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ededf1;
        filter: brightness(90%)
        // background-size: cover;
    }

    #splash-category-2 {
        background: image-url('mensbomberjacket.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ededf1;
        filter: brightness(90%)
        // background-size: cover;
    }

    #splash-category-3 {
        background: image-url('kidsstarmanpullover.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ededf1;
        filter: brightness(90%)
        // background-size: cover;
    }

    .view-products-button {
        position: absolute;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        font-weight: 100;
        font-size: 24px;
        background-color: white;
        top: 75%;
        left: 10%;
        padding: 5px 10px 5px 10px;
        transition: all .75s ease-in-out;
    }

    .splash-category-title {
        position: absolute;
        text-decoration: none;
        color: white;
        top: 65%;
        left: 10%;
    }

    .view-products-button:hover {
        background: rgba(0, 0, 0, 0.0);
        color: white;
    }

}




